/* General */
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
/* Header */
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/glasses-bg.png");
}
.main {
  height: 30rem;
  padding-top: 1rem
}
.content {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem 0;
}
.mobile {
  display: none;
}
#logo {
  display: flex;
  align-items: center;
}
#logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}
nav span {
  padding-right: 2rem;
}
.banner {
  display: flex;
  justify-content: flex-end;
  margin-top: 10rem;
  margin-right: -2rem;
}
.banner span {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}
/* Images */
.images {
  margin: 3rem 0;
}
.items {
  display: flex;
}
.image {
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-between;
  text-align: center;
  margin-right: 6rem;
}
.paper img {
  width: 3.5rem;
}
.ruler img, .truck img {
  width: 5rem;
}
/* text content */
.text-items {
  display: flex;
}
.text {
  width: 35%;
  margin-right: 5%;
}
.text h3 {
  color: white;
  background-color: cadetblue;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
}
.text-content {
  margin-bottom: 5rem;
}
/* Footer */
.footer {
  padding: 4rem 0 4rem 4rem;
  background-color: azure;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer img {
  height: 1.5rem;
  padding-right: 1rem;
}
/* Tablet mode */
@media only screen and (max-width: 1024px) {
  /* Header */
  .main {
    height: 22rem;
    padding: 0;
  }
  .container {
    max-width: 100%;
  }
  .banner {
    margin-top: 5rem;
    margin-right: 2rem;
  }
  .banner span {
    padding-left: 0.75rem 4rem;
    font-size: 1.33rem;
  }
  /* images */
  .items {
    justify-content: center;
  }
  /* Text content */
  .mobile {
    display: none;
  .text-items {
    justify-content: center;
  }
}
/* Mobile mode */
@media only screen and (max-width: 470px) {
/* Header */
header {
  background-position: 20%;
}
.main {
  height: 17rem;
}
.desktop {
  display: none;
}
.mobile {
  display: flex;
}
.banner {
  margin-top: 9rem;
  margin-right: 0;
}
.banner span {
  padding: 1rem 0;
  font-size: 1rem;
  width: 100%;
  text-align: center
}
/* Images */
.images {
  margin: 3.77rem 0;
}
.items {
  flex-direction: column;
  align-items: center;
}
.image {
  margin: 0;
  margin-bottom: 1.54rem;
  align-items: center;
}
/* Text content */
.text {
  width: 100%;
  margin-bottom: 4rem;
}
.text h3 {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}
.text p {
  font-size: 0.77rem;
}
.text-items {
  flex-direction: column;
}
.text-content {
  margin: 0;
}
/* Footer */
.footer {
  padding: 4rem 0;
  justify-content: center;
}
.footer img {
  padding: 0;
}
}
